*{
    margin: 0;
    padding: 0;
}

#clockcontainer{
    position: relative;
    margin: auto;
    width: 30vw;
    height: 30vw;
    background-image: url(5054.png);
    background-size: 100%;
}

#hour, #minute , #second{
    position: absolute;
    background-color: black;
    border-radius: 7px;
    transform-origin: bottom;
}

#hour{
    width: 1.3%;
    height: 19%;
    left: 49.5%;
    top: 31%;
    
}




#minute{
    width: 1%;
    height: 24%;
    top: 26%;
    left: 49.5%;
    
}

    


#second{
    width: 0.7%;
    height: 29%;
    left: 49.5%;
    top: 21%;
}
